<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <title>BookStore</title>
</head>
<body>

<div class="container">
  <div>
    <h1>BookStore</h1>
  </div>
</div>
<div>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/myPage">마이페이지</a></li>
    <li><a class="active" href="/login">로그인</a></li>
    <li><a href="/SignUpForm">회원가입</a></li>
  </ul>
</div>
<div>
  <form method="post">
    ID:<br>
    <input type="text" name="id"><br>
    PW:<br>
    <input type="text" name="pw">
    <input value="로그인" type="submit">
  </form>
</div>

</body>
</html>